@font-face {
  font-family: "Comic Mono";
  font-weight: 400;
  src: local("Comic Mono"), url(/ttf/ComicMono.ttf);
}

@font-face {
  font-family: "Comic Mono";
  font-weight: 700;
  src: local("Comic Mono"), url(/ttf/ComicMono-Bold.ttf);
}

body {
  font-family: "Comic Mono", monospace;
  background-color: #1e1e1e;
  color: #d4d4d4;
}

a {
  color: #4fc1ff;
  text-decoration: none;
}

a.offline {
  opacity: 0.667;
}

a:hover {
  text-decoration: underline;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 2s infinite linear;
}

td {
  padding-left: 15px;
  padding-right: 15px;
}

td:first-child {
  padding-left: initial;
}

td:last-child {
  padding-right: initial;
}
